DEFAULT Linux
SAY Oka is installing {{ osid }}
TIMEOUT 5 

LABEL Linux
    KERNEL linux
    APPEND initrd=initrd install=http://{{ httpd_ip_ext }}/_repos/{{ install_id }}/repo autoyast=http://{{ httpd_ip_ext }}/{{ install_id }}/autoinst.xml ifcfg=eth*=dhcp kexec=3
