set timeout=1
menuentry '{{ osid }}' {
  echo 'Loading linux ...'
  linux {{ install_id }}/efi/linux install=http://{{ httpd_ip_ext }}/_repos/{{ install_id }}/repo autoyast=http://{{ httpd_ip_ext }}/{{ install_id }}/autoinst.xml ifcfg=eth*=dhcp kexec=3
  echo 'Loading initrd ...'
  initrd {{ install_id }}/efi/initrd
}
