apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: 192.168.21.201
nodeRegistration:
  kubeletExtraArgs:
    - name: node-ip
      value: 192.168.21.201
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
networking:
  dnsDomain: {{ cluster_name }}.local
  serviceSubnet: {{ service_cidr }}
clusterName: {{ cluster_name }}
